@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 112.5%; /* 16px default font size X 62.5 = 10px => 1rem*/
}

:root {
}

#root {
  font-family: "Barlow", sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-position: center;
  background-size: cover;
}

.headerDesktop {
  width: 100vw;
  height: 5rem;
  background-color: transparent;
  border-bottom: 2px dotted #ccc;
}

.headerDesktop ul {
  list-style-type: none;
  margin: 0;
  padding: 0 2rem;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.profileLogo {
  margin-right: auto;
  font-weight: 700;
  font-size: 2.5rem;
  font-family: "Fraunces", sans-serif;
}

.profileLogo a:hover {
  border: none !important;
}

.contactsTab {
  border-radius: 25px;
}

.headerDesktop {
  display: block;
}

.headerMobile {
  display: none;
}

.headerDesktop li {
  float: left;
  margin-left: 1rem;
}

.headerDesktop li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.headerDesktop li a:hover {
  border: 1px solid;
  border-radius: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #151515;
}

input:focus + .slider {
  box-shadow: 0 0 1px #151515;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
